/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* General Styles */
h1, h2, p, ul, li {
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #151564;
}

h2 {
  margin-top: 20px;
  color: #151564;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Program Features and Courses */
.program-features, .program-courses {
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
